<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Edit note</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <header class="text-center py-3">
      <h1 class="h1">Edit note</h1>
    </header>
    <main class="px-3">
      <div class="form-wrapper">
        <form class="form-wrapper" id="noteForm" action="/notes/edit/<%= note.id %>" method="POST" enctype="application/x-www-form-urlencoded">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="<%= note.title %>" required>
          </div>
          <div class="mb-3">
            <textarea id="editor" name="content"><%= note.content %></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </main>
  </div>
  
  <!-- Include scripts at the end of the document -->
  <script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.tiny.cloud/1/dkphpn1gsp3ppkqod246c55qnejearak0rmxsofl5zzupssx/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  
  <script>
    tinymce.init({
      selector: '#editor',
      plugins: 'advlist autolink lists link image charmap print preview anchor',
      toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | image',
      content_css: [
        'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
      ],
      height: 500,
      setup : function(ed) {
        ed.on('init', function() {
          this.getDoc().body.style.margin = '16px';
        });
      },
      // Configurar el manejador de archivos
      file_picker_callback: function(callback, value, meta) {
        // Abrir el diálogo de selección de archivos
        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.setAttribute('accept', 'image/*');
    
        input.onchange = function() {
          var file = this.files[0];
          var reader = new FileReader();
          reader.onload = function () {
            var formData = new FormData();
            formData.append('file', file);
            fetch('/upload', {
              method: 'POST',
              body: formData
            })
            .then(response => response.json())
            .then(data => {
              callback(data.imageUrl, { text: file.name });
            })
            .catch(error => {
              console.error('Error al cargar la imagen:', error);
            });
          };
          reader.readAsDataURL(file);
        };
    
        input.click();
      }
    });


  </script>

<button class="go-back-button" onclick="goBack()">Go Back</button>

<script>
function goBack() {
  window.history.back();
}
</script>

</body>
</html>
