<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles.css">
    <style>
        .containerEdit {
            font-family: Arial;
            font-size: 16px;
            color: black;
        }

        .inputEdit {
            font-family: Arial;
            font-size: 16px;
            color: black;
        }
    </style>
</head>

<body>
    <div class="containerEdit">
        <h1>Edit Note</h1>
        <form action="/notes/edit/<%= note.id %>" method="POST" class="note-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" class="form-control inputEdit" value="<%= note.title %>" required>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" id="content" name="content" class="form-control inputEdit"
                    value="<%= note.content %>">
            </div>
            <div class="form-group">
                <label for="list">List</label>
                <input type="text" id="list" name="list" class="form-control inputEdit"
                    value="<%= note.list %>">
            </div>
            
            <button type="submit" class="btn btn-primary">Update Note</button>
            <label for="image" class="btn btn-primary">
                <i class="bi bi-upload"></i> Select picture
            </label>

            <input id="image" type="file" name="image" accept="image/*" style="display: none;">
        </form>



</body>

</html>