<!-- views/edit.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ... -->
</head>
<body>
    <h1>Edit Note</h1>
    <form action="/notes/edit/<%= note.id %>" method="POST">
        <input type="text" name="title" >
        <textarea name="content"><%= note.id %></textarea>
        <button type="submit">Update Note</button>
    </form>
</body>
</html>