<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Friendship Management</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />
</head>
  
<body>

<div style="display: flex; align-items: flex-start; gap: 10px;">
  <!-- Botón de retroceso -->
  

  <form action="/notes/NoteCollections" method="GET" style="display:inline">
    <button class="go-home-button" type="submit">Home</button>
  </form>
  <button class="go-back-button" onclick="goBack()">Go back</button>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</div>

  <div class="container">
   

    <div class="text-center">
      <h1>Friendship Management</h1>


      
    <h2>Friends list from user</h2>
    <% if (friends.length === 0) { %>
    <p>No friends at the moment.</p>
    <% } else { %>
    <ul class="list-group">
        <% friends.forEach(friend => { %>
        <li class="list-group-item">
          <p class="friend-name"><%= friend.username %></p>
          <form action="/friendships/removeFriend/<%= friend.id %>/<%= userId %>" method="POST" >
            <button type="submit" class="delete-button">Delete friend</button>
          </form>
        </li>
        <% }); %>
    </ul>
    <% } %>
      
      <form action="/users/logout" method="GET" style="display: inline">
        <button class="delete-button" type="submit">Log Out</button>
      </form>


    </div>

    
  </div>

  <!-- Scripts -->
  <script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>

  
</body>

</html>