<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of Notes</title>
    <link
      href="/node_modules/bootstrap/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      body {
        background-color: #f8f9fa;
        border: 1px solid #ddd;
        padding: 20px;
        text-align: center;
      }

      .container {
        margin-top: 50px;
        width: 100%; /* Set a fixed width */
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }

      h1 {
        color: #007bff;
        text-align: center;
        margin-bottom: 20px;
      }

      .list-group {
        background-color: transparent;
        border-color: transparent;
        padding: 10px;
      }

      .list-group-item {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 10px;
      }

      .list-group-item strong {
        color: #007bff;
      }

      .btn-primary {
        margin-bottom: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn-primary:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="text-center">
        <h1>List of Notes</h1>

        <% if (notes.length === 0) { %>
        <p>No notes available.</p>
        <% } else { %>
        <ul class="list-group" type="none">
          <% notes.forEach(note => { %>
          <li class="list-group-item">
            <a href="/notes/noteInfo/<%= note.id %>"
              ><strong><%= note.title %></strong></a
            >
          </li>
          <% }); %>
        </ul>
        <% } %>
        <form action="/notes/new" method="GET">
          <button class="btn-primary" type="submit">Add Note</button>
        </form>
      </div>
    </div>

    <script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>
