<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>List of Friends to Share with</title>
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/styles.css" />


</head>

<body>

  <div style="display: flex; align-items: flex-start; gap: 10px;">
    <!-- Botón de Home -->
    <form action="/notes/NoteCollections" method="GET" style="display:inline">
      <button class="go-back-button" type="submit">Home</button>
    </form>

    <!-- Botón de retroceso -->
    <button class="go-back-button" onclick="goBack()">Go back</button>
  
    <script>
      function goBack() {
        window.history.back();
      }
    </script>
  </div>
  <div class="container">
    <div class="text-center">
      <h1>Select a friend to share the note</h1>

      <% if (filterFriends.length===0) { %>
        <p>No friends available.</p>
        <% } else { %>
          <ul class="list-group" type="none">
            <% filterFriends.forEach(friend=> { %>
              <li class="list-group-item">
                <div class="note-item">
                  <p><strong><%= friend.username %></strong></p>
                </div>
              
                <div class="button-group">
                
                  <form action="/notes/shared/addUserToShareWith/<%= noteId %>/<%= friend.id %>" method="POST" class="button-form">
                    <button type="submit" class="share-button">Share</button>
                  </form>

                </div>
              </li>
              
              <% }); %>
          </ul>
          <% } %>

            <form action="/users/logout" method="GET">
              <button class="delete-button" type="submit">Log Out</button>
            </form>
    </div>
  </div>

</script>
<script src="/node_modules/bootstrap/bootstrap.bundle.min.js"></script>

</body>
</html>