<!DOCTYPE html>
<html>
<head>
    <title>Shared Notes</title>
    <!-- Asegúrate de incluir tu archivo CSS aquí -->
    <link rel="stylesheet" href="/styles.css" />

</head>
<body>
  <div class ="username-container">
    <img src="/uploads/user.png" alt="User">
    <p>Welcome, <%= username %></p>
</div>
    <div style="display: flex; align-items: flex-start; gap: 10px;">
        <!-- Botón de Home -->
        <form action="/notes/NoteCollections" method="GET" style="display:inline">
          <button class="go-home-button" type="submit">Home</button>
        </form>
    
        <!-- Botón de retroceso -->
        <button class="go-back-button" onclick="goBack()">Go back</button>
      
        <script>
          function goBack() {
            window.history.back();
          }
        </script>
      </div>

      <div class="container">
        <div class="text-center">
          <h1>Shared Notes</h1>
          <% if (notes.length===0) { %>
            <p>No notes available.</p>
            <% } else { %>
              <ul class="list-group" type="none">
                <% notes.forEach(note=> { %>
                  <li class="list-group-item">
                    <form action="/notes/noteInfo/<%= note.id %>" method="GET">
                      <button class="link-button" type="submit"><strong><%= note.title %> @<%= note.username %></strong></button>
                    </form>
                    
                  

                  </li>
                  
                  <% }); %>
              </ul>
              <% } %>
          <a class="back-link" href="/notes">Back to Notes</a>
        </div>
    </div>
</body>
</html>