<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Management</title>
    <meta charset="UTF-8" />
    <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/styles.css" />
</head>

<body>



       <div style="display: flex; align-items: flex-start; gap: 10px;">
            <!-- Botón de Home -->
            <form action="/notes/NoteCollections" method="GET" style="display:inline">
            <button class="go-back-button" type="submit">Home</button>
            </form>
        
            <!-- Botón de retroceso -->
            <button class="go-back-button" onclick="goBack()">Go back</button>
        
            <script>
            function goBack() {
                window.history.back();
            }
        </script>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Users</h2>
                <div id="user-list"></div>
                <div class="mt-2">
                    <form action="/users/allUsers" method="GET">
                        <button id="show-users" class="btn btn-primary">Users Management</button>
                    </form>
                    
                </div>
            </div>

            <div class="col-md-6">
                <h2>Notes</h2>
                <div id="notes-list"></div>
                <div class="mt-2">
                <form action="/notes/" method="GET">
                    <button id="show-notes" class="btn btn-primary">Notes Management</button>
                </form>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Collections</h2>
                <div id="notes-list"></div>
                <class="mt-2">
                <form action="/notes/collections" method="GET">
                    <button id="show-collections" class="btn btn-primary">Collections Management</button>
                </form>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Relationships</h2>
                <div id="notes-list"></div>
                <div class="mt-2">
                <form action="/users/allUsersFromRelationships" method="GET">
                    <button id="show-notes" class="btn btn-primary">Relationships Management</button>
                </form>
                </div>
            </div>
        </div>
        <form action="/users/logout" method="GET">
            <button class="delete-button" type="submit">Log Out</button>
        </form>
  
    

    <script src="/public/user-management.js"></script>
</body>

</html>